---
import type { GetStaticPaths } from 'astro';
import { getCollection, getEntry } from 'astro:content';
export const getStaticPaths = (async () =>
  (await getCollection('main'))
    ? (await getCollection('main'))
        .filter((entry) => entry?.data?.visibility?.page)
        .map((entry) => ({
          params: { main: entry.slug },
          props: { entry },
        }))
    : []) satisfies GetStaticPaths;
const { entry } = Astro.props;
const { Content } = await entry.render();
const person = await getEntry('persons', 'shilov');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{entry.data.title ? entry.data.title : entry.slug}</title>
  </head>
  <body class="font-['Montserrat'] flex flex-col justify-between items-center">
    <header
      class="min-h-[5vh] bg-black z-10 fixed w-full hidden sm:flex flex-col justify-center items-center px-[5vmax]"
    >
      <div class="flex justify-between items-center w-full flex-wrap">
        <a
          href="/"
          class="text-white text-2xl font-['Viaoda_libre'] select-none"
        >
          {person?.data?.name}
        </a>
      </div>
    </header>
    <section class="size-full py-[15vh]">
      <h1
        class="text-[clamp(1.7rem,9vmin,7rem)] font-['Viaoda_Libre'] px-[5vmax] pt-[10vh]"
      >
        {entry.data.title ? entry.data.title : entry.slug}
      </h1>
      <section class="w-full mx-auto flex flex-col gap-3 px-[5vmax]">
        <article>
          <Content />
        </article>
      </section>
    </section>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  ::-webkit-scrollbar {
    display: none;
  }
  ::selection {
    background-color: rgba(0, 0, 0, 0.1);
  }
  article {
    @apply prose prose-xl max-w-full text-black;
  }
  article * {
    @apply text-black;
  }
  article a {
    @apply underline-offset-[5px];
  }
  article blockquote {
    @apply border-none px-[1em];
  }
  article blockquote p {
    @apply text-center font-normal not-italic;
  }
  article blockquote p:first-of-type::before,
  article blockquote p:first-of-type::after {
    @apply content-none;
  }
  article p code {
    @apply px-1.5 py-1 text-white bg-black rounded font-normal before:content-none after:content-none font-['Montserrat'];
  }
  article pre {
    @apply bg-transparent border border-black rounded-none !important;
  }
  article pre code span {
    @apply font-['Montserrat'];
  }
  article hr {
    @apply border-black;
  }
  article li::marker {
    @apply text-black;
  }
</style>

<script>
  import LocomotiveScroll from 'locomotive-scroll';
  const locomotiveScroll = new LocomotiveScroll();
</script>
